@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

:root {
	font-family: "Inter-Regular";
	background-color: hsl(36, 100%, 99%);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@font-face {
	font-family: "Inter-Regular";
	src: url("/fonts/static/Inter-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Inter-Bold";
	src: url("/fonts/static/Inter-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "Inter-ExtraBold";
	src: url("/fonts/static/Inter-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

/* body {
} */
